node_modules/
geckodriver.log
learn B4 ANGULAR.jpg
styles.css
.vscode/launch.json
100DoP day 11/coffeemachine.py
100DoP day 11/guess_the_number.py
100DoP day 11/selenium_test.py
10_html_css_projects/news/images/felix-rostig-KohEtqMf85w-unsplash.jpg
10_html_css_projects/news/images/christopher-burns-pzMP-RGJ7mY-unsplash.jpg
10_html_css_projects/news/images/luca-bravo-TaCk3NspYe0-unsplash.jpg
10_html_css_projects/news/images/luke-stackpoole-FA8HEWO9Vd8-unsplash.jpg
10_html_css_projects/news/images/luke-stackpoole-ubSUwrr04Ks-unsplash.jpg
10_html_css_projects/news/images/marc-ruaix-pV9_u0zDk4E-unsplash.jpg
10_html_css_projects/news/images/meric-dagli-J9LaQhfPoQU-unsplash.jpg
10_html_css_projects/news/images/miguel-bautista-vTKGJxps5UA-unsplash.jpg
10_html_css_projects/news/images/ronny-rondon-mMlpDj0yZn4-unsplash.jpg
10_js_projects/async JS in 10 minutes.txt
10_js_projects/base_canvas/index.html
10_js_projects/base_canvas/css/style.css
10_js_projects/base_canvas/script/script.js
10_js_projects/base_project/index.html
10_js_projects/base_project/css/normalize.css
10_js_projects/base_project/css/style.css
10_js_projects/base_project/script/script.js
10_js_projects/clock_app/eberhard-grossgasteiger-fciOpCwnBqI-unsplash.jpg
10_js_projects/clock_app/index.html
10_js_projects/clock_app/css/normalize.css
10_js_projects/clock_app/css/style.css
10_js_projects/clock_app/script/script.js
10_js_projects/countdown_timer/index.html
10_js_projects/countdown_timer/assets/erol-ahmed-d3pTF3r_hwY-unsplash.jpg
10_js_projects/countdown_timer/css/normalize.css
10_js_projects/countdown_timer/css/style.css
10_js_projects/countdown_timer/script/script.js
10_js_projects/fun_with_DOM/dom.js
10_js_projects/fun_with_DOM/index.html
10_js_projects/hamburger_menu/index.html
10_js_projects/hamburger_menu/css/normalize.css
10_js_projects/hamburger_menu/css/style.css
10_js_projects/hamburger_menu/script/script.js
10_js_projects/movies_app/index.html
10_js_projects/movies_app/css/normalize.css
10_js_projects/movies_app/css/style.css
10_js_projects/movies_app/script/script.js
10_js_projects/notes_app/index.html
10_js_projects/notes_app/css/normalize.css
10_js_projects/notes_app/css/style.css
10_js_projects/notes_app/script/script.js
10_js_projects/quiz_app/index.html
10_js_projects/quiz_app/css/normalize.css
10_js_projects/quiz_app/css/style.css
10_js_projects/quiz_app/script/script.js
10_js_projects/recipe_app/index.html
10_js_projects/recipe_app/css/normalize.css
10_js_projects/recipe_app/css/style.css
10_js_projects/recipe_app/script/script.js
10_js_projects/test_todoapp/index.html
10_js_projects/test_todoapp/css/normalize.css
10_js_projects/test_todoapp/css/style.css
10_js_projects/test_todoapp/script/script.js
10_js_projects/todo_app/index.html
10_js_projects/todo_app/css/normalize.css
10_js_projects/todo_app/css/style.css
10_js_projects/todo_app/script/script.js
7 JS games/base_game/index.html
7 JS games/base_game/script.js
7 JS games/base_game/styles/fontawesome.min.css
7 JS games/base_game/styles/normalize.css
7 JS games/base_game/styles/styles.css
7 JS games/Breakout/index.html
7 JS games/Breakout/script.js
7 JS games/Breakout/styles/fontawesome.min.css
7 JS games/Breakout/styles/normalize.css
7 JS games/Breakout/styles/styles.css
7 JS games/Connect_four/index.html
7 JS games/Connect_four/script.js
7 JS games/Connect_four/styles/fontawesome.min.css
7 JS games/Connect_four/styles/normalize.css
7 JS games/Connect_four/styles/styles.css
7 JS games/Frogger/index.html
7 JS games/Frogger/script.js
7 JS games/Frogger/styles/fontawesome.min.css
7 JS games/Frogger/styles/normalize.css
7 JS games/Frogger/styles/styles.css
7 JS games/MemoryGame/index.html
7 JS games/MemoryGame/script.js
7 JS games/MemoryGame/assets/blank.png
7 JS games/MemoryGame/assets/fries.png
7 JS games/MemoryGame/assets/hotdog.png
7 JS games/MemoryGame/assets/cheeseburger.png
7 JS games/MemoryGame/assets/ice-cream.png
7 JS games/MemoryGame/assets/milkshake.png
7 JS games/MemoryGame/assets/pizza.png
7 JS games/MemoryGame/assets/white.png
7 JS games/MemoryGame/styles/fontawesome.min.css
7 JS games/MemoryGame/styles/normalize.css
7 JS games/MemoryGame/styles/styles.css
7 JS games/RPS/index.html
7 JS games/RPS/script.js
7 JS games/RPS/styles/fontawesome.min.css
7 JS games/RPS/styles/normalize.css
7 JS games/RPS/styles/styles.css
7 JS games/Space_Invaders/index.html
7 JS games/Space_Invaders/script.js
7 JS games/Space_Invaders/styles/fontawesome.min.css
7 JS games/Space_Invaders/styles/normalize.css
7 JS games/Space_Invaders/styles/styles.css
7 JS games/Whac-a-mole/index.html
7 JS games/Whac-a-mole/script.js
7 JS games/Whac-a-mole/assets/mole.jpg
7 JS games/Whac-a-mole/styles/styles.css
JS crashCourse/index.html
JS crashCourse/main.js
JS crashCourse/README.md
JS crashCourse/style.css
router_test/src/styles.css
router_test/src/app/app-routing.module.ts
router_test/src/app/app.component.css
router_test/src/app/app.component.html
router_test/src/app/app.module.ts
router_test/src/app/about-page/about-page.component.spec.ts
router_test/src/app/about-page/about-page.component.ts
router_test/src/app/contact/contact.component.spec.ts
router_test/src/app/contact/contact.component.ts
router_test/src/app/home-page/home-page.component.spec.ts
router_test/src/app/home-page/home-page.component.ts
router_test/src/app/navbar/navbar.component.css
router_test/src/app/navbar/navbar.component.html
router_test/src/app/navbar/navbar.component.spec.ts
router_test/src/app/navbar/navbar.component.ts
Todo-App-master/Todo-App-master/.browserslistrc
Todo-App-master/Todo-App-master/.editorconfig
Todo-App-master/Todo-App-master/.gitignore
Todo-App-master/Todo-App-master/angular.json
Todo-App-master/Todo-App-master/karma.conf.js
Todo-App-master/Todo-App-master/package-lock.json
Todo-App-master/Todo-App-master/package.json
Todo-App-master/Todo-App-master/README.md
Todo-App-master/Todo-App-master/tsconfig.app.json
Todo-App-master/Todo-App-master/tsconfig.json
Todo-App-master/Todo-App-master/tsconfig.spec.json
Todo-App-master/Todo-App-master/src/favicon.ico
Todo-App-master/Todo-App-master/src/index.html
Todo-App-master/Todo-App-master/src/main.ts
Todo-App-master/Todo-App-master/src/polyfills.ts
Todo-App-master/Todo-App-master/src/styles.scss
Todo-App-master/Todo-App-master/src/test.ts
Todo-App-master/Todo-App-master/src/app/app-routing.module.ts
Todo-App-master/Todo-App-master/src/app/app.component.html
Todo-App-master/Todo-App-master/src/app/app.component.scss
Todo-App-master/Todo-App-master/src/app/app.component.spec.ts
Todo-App-master/Todo-App-master/src/app/app.component.ts
Todo-App-master/Todo-App-master/src/app/app.module.ts
Todo-App-master/Todo-App-master/src/app/components/todos/todos.component.html
Todo-App-master/Todo-App-master/src/app/components/todos/todos.component.scss
Todo-App-master/Todo-App-master/src/app/components/todos/todos.component.spec.ts
Todo-App-master/Todo-App-master/src/app/components/todos/todos.component.ts
Todo-App-master/Todo-App-master/src/app/models/Todo.ts
Todo-App-master/Todo-App-master/src/assets/.gitkeep
Todo-App-master/Todo-App-master/src/assets/todoicon.png
Todo-App-master/Todo-App-master/src/environments/environment.prod.ts
Todo-App-master/Todo-App-master/src/environments/environment.ts
router_test/src/styles.css
router_test/src/styles.css
router_test/src/app/app-routing.module.ts
router_test/src/app/app.component.css
router_test/src/app/app.component.html
router_test/src/app/app.module.ts
router_test/src/app/navbar/navbar.component.css
router_test/src/app/navbar/navbar.component.html
router_test/src/app/navbar/navbar.component.spec.ts
router_test/src/app/navbar/navbar.component.ts
