* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Sintony', sans-serif;
    
}

html {
    font-size: 100%;
    
}

header {
    background-image: url(../img/Mercedes-benz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 100px);
    display: flex;
    color: white;
    flex-direction: column;
   
    /* flex-wrap: wrap; */
}


.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    color: white;
    overflow: hidden;
    
    /* justify-content: space-between; */
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

nav .logo {
    font-size: 2.5rem;
    padding-top: 0;
    margin-right: 1rem;
}

nav .logo i {
    margin-left: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: flex;
    align-items: center; 
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.selected {
    font-weight: bold;
}

.highlighted {
    background-color: lightskyblue;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    /* flex-wrap: wrap; */
}

.top-container {
    max-width: 100%;
    /* display: inline-block; */
    background: #000;
    /* display: flex; */

}

.content {
    width: 66%;
    margin: auto;
    font-size: 1.5rem;
    /* display: flex; */
    /* justify-content: center; */
}

.content h1 {
    color: white;
    text-shadow: 1px 2px 5px #000;
}

footer {
    /* height: 100px; */
    background-color: #000;
    color: #fff;
    display: flex;
    /* height: 100px; */
}

footer ul {
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

footer ul li {
    text-align: center;
}

footer strong {
    color: lightskyblue;
}

.highlighted:hover {
    background-color: rgb(120, 195, 245);
}


@media screen and ( max-width: 700px) {

    .top-container {
       background-color: black;
       max-height: 200px;
    }
    nav .highlighted {
        display: none;
    }

    nav.container .logo {
        /* display: flex; */
        /* justify-content: center; */
        text-align: center;
       align-items: center;
        padding: 0 2rem;

    }

    

    .logo {
        max-height: 30%;
    }
    
    nav  ul {
        /* flex-direction: column;
        justify-content: end;
        align-items: center; */
        /* align-items: flex-end; */
        /* margin: auto; */
       background-color: #000;
    }

    nav ul li a {
        font-size: 1rem;
    }

    nav ul:not(last-child) {
        margin: 0.5rem auto;
    }

    header .content {
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    .content h1 {
        /* color: white; */
        text-shadow: 1px 2px 5px rgb(13, 172, 221);
    }

    footer ul.container {
        display: flex;
        flex-direction: column;
       
    }

    footer ul li {
        margin: 1rem 0rem 0.5rem 0;
    }
    

    
}
    
