<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Angular ROUTING project 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./app.component.css" rel="stylesheet">
  </head>
  <body>
  

    <h1>Angular ROUTING And Navigation</h1>



      <nav>
        <ul class="container">
          <li><a routerLink = "/home" routerLinkActive = "active">Home</a></li>
          <li ><a routerLink = "/about" routerLinkActive = "active">About </a> </li>
          <li><a routerLink = "/contact" routerLinkActive = "active">Contact</a></li>
        </ul><!-- .container -->
      </nav>


    <!-- <nav>
      <a routerLink = "/departments" routerLinkActive = "active"> Departments</a>
      <a routerLink = "/employees" routerLinkActive = "active"> Employees</a>
    
    
    </nav> -->
    
    <router-outlet></router-outlet>


  </body>
</html>
