<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <h1 style="text-align: center">
      Routing and navigation
    </h1>
    <!-- <app-search-bar></app-search-bar> -->
    <router-outlet></router-outlet>

  
  </body>
</html>
<!-- <h1 style="text-align: center">
  Routing and navigation
</h1>
<app-search-bar></app-search-bar>
<router-outlet></router-outlet> -->